* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ccc;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 150px auto;
  width: 500px;
  text-align: center;
  background-color: #3EC4E9;
  align-items: center;
  border-radius: 16px;

  h1 {
    background-color: #3EC4E9;
  }
}

.botao {
  background-color: yellowgreen;
  border: 1px solid yellowgreen;
  border-radius: 8px;
  padding: 8px;
  margin: 16px 0;
}

.botao:hover {
  background-color: rgb(123, 163, 44);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
